

/* .App {
  text-align: center;
  height: fit-content;
  width: auto;
  margin: 20px;
  border: 3px solid #000 !important;
} */

/* .Navigation {
  background-color: #6fa8dc;
  height: 300px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 3px solid #000 !important;
} */

/* .Header {
  background-color: #6aa84f;
  width: auto;
  padding: 20px;
  margin: 20px;
  border: 3px solid #000 !important;
} */

/* .Main {
  height: 400px;
  width: 1000px;
  background-color: #e06666;
  display: inline-block;
  margin: -350px;
  margin-left: 20px;
  border: 3px solid #000 !important;
} */

/* .Sub-Contents { 
  background-color: #ffd996;
  display: inline-block;
  align-content: space-between;
  margin: 10px;
  height: 200px;
  width: 300px;
  border: 3px solid #000 !important; 
} */

/* .Advertisment {
  background-color: #b4a7d6;
  border: 3px solid #000 !important;
  padding: 20px;
  margin: 20px;
} */